.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.search-form{
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-header{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70%;
}
@media only screen and (max-width: 851px) {
  .search-header{
    display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 70%;
  }
}
.search-bar{
  min-width: 50%;
  padding: 8px;
  border: none;
  outline: none;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.473);
}

.search-button{
  background-color: lightcoral;
  color: white;
  padding: 8px 10px;
  border: none;
}
.search-button:active{
  background-color: rgba(240, 128, 128, 0.542);
}
.Recipe{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
